<div ng-controller="Page1Ctrl" class="col-md-5">
  <h4> {{loginUser.firstname}} {{ loginUser.lastname}}and your id is  <span class="idLabel">{{loginUser.id}}</span></h4>

    <div class="form-group">
      <label for="userId"> Search</label>
      <input type="text" class="form-control" id="userId" placeholder="Enter user id" ng-model="userId"/>
    </div>
    <button type="button" ng-click="findUser()" class="btn btn-default">Find user</button>


  <div class="notFoundLabel" ng-show="user==''">User not found</div>

  <table class="table" ng-show="user!='' && user!=null">
    <tr>
      <td>Id: </td> <td>{{user.id}}</td>
    </tr>
    <tr>
      <td>Firstname: </td> <td>{{user.firstname}}</td>
    </tr>
    <tr>
      <td>Lastname: </td> <td>{{user.lastname}}</td>
    </tr>
    <tr>
      <td>Phone: </td> <td>{{user.phone}}</td>
    </tr>
    <tr>
      <td>Email: </td> <td>{{user.email}}</td>
    </tr>
  </table>
</div>
